# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
Learn/Project/
Learn/Debug/
Learn/Output/
Learn/CppPrimer-master/
Learn/GCC_4_7_0/
Learn/GCC_4_7_0.zip
